.card {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  font-size: larger;
  font-family: sans-serif;
  border: 1px solid darkgrey;
}

.card__title {
  padding-left: 10px;
  flex: 0 0 30%;
}

.card__text {
  padding-left: 10px;
  flex: 0 0 30%;
}

.card__link {
  padding-left: 10px;
}

.card__link:hover {
  background-color: #0077ff;
  color: #e0efff;
}

.card__link--red {
  color: red;
}
